*{font-family: 'Helvetica Neue', Helvetica, sans-serif;font-size:15px;color:#222;font-weight:200;}
h1, h2, h3, h4, h1 a, h2 a, h3 a, h4 a, #nav a, h1 span {color:#9A0300;margin:0;font-weight:normal;font-family:'Abel', sans-serif;}
h1, h1 a{font-size:28px;padding:0 1%;}
h2, h2 a{font-size:22px;}
h3, h3 a, #nav a{font-size:18px;}
h4{font-weight:bold;}
body{background: #222;margin:20px 0;}
a{color:#9A0300;text-decoration:none;}
#logo{max-width:960px;margin:0 auto;}
#logo a{background:url(/images/logo_dark.png) 0 0 no-repeat;padding:60px 300px 0 30px;}
#logo h1{display:block;margin:80px 0 20px 0;padding:0;}
#logo a,#logo a span{color:#fff;font-size: 28px;}
#container{max-width:960px;margin:0 auto;background-color:#fff;box-shadow: 0 0 20px #000;}
#content{padding:30px;}
#sidebar{background-color:#ccc;padding:30px;}
#nav{padding:10px 30px;background-color:#000;}
#nav a{margin-right:20px;color:#fff;}
#nav a:hover{color:#9A0300;}
input, textarea{border:1px solid #ddd;}
textarea{min-width:500px;height:200px;}
.edit input, .edit textarea{width:80%;}
.description, .description a{font-size:8pt;margin-bottom:15px;}
form th{text-align:left;}
.required{display:none;}
.portrait{border:2px solid #999;float:right;margin: 40px 0 10px 10px;}
.previous{clear:left;}
.highlight .kd { font-weight: bold } /* Keyword.Declaration */
.highlight .mi { color: #01595D } /* Literal.Number.Integer */
.highlight .sr { color: #007908 } /* Literal.String.Regex */
.highlight .s1 { color: #7D0044 } /* Literal.String.Single */
.highlight .ss { color: #990073 } /* Literal.String.Symbol */
.highlight .bp { color: #999999 } /* Name.Builtin.Pseudo */
pre code,pre code *{font-family:'Monaco', 'Liberation Mono', monospace;}
pre{background-color:#eee;padding:10px;}
@media screen and (max-width: 760px){
  #content,#sidebar,#nav{padding:10px;}
  #logo a{padding-left:5px;padding-right:0;}
  #logo{margin-top:60px;}
  #nav,#search{padding-right:10px;}
  body{margin:0}
}
.dsq-options{display:none;}
/* Images courtesy of http://icons8.com/ */
.fork{background:url(images/fork.png) top left no-repeat;}
.project{margin-bottom:10px;padding-left:40px;}
.active{background:url(images/active.png) top left no-repeat;}
.legend {float: right;height: 30px;line-height: 30px;margin-left: 30px;}