<div id="gr_custom_widget_1605969923">
    <div class="gr_custom_container_1605969923">
        <h2 class="gr_custom_header_1605969923">
            <a
                style="text-decoration: none"
                rel="nofollow"
                href="https://www.goodreads.com/review/list/76759314-mark?shelf=favorites&amp;utm_medium=api&amp;utm_source=custom_widget"
                >Recommended Reading</a
            >
        </h2>
        <div class="gr_custom_each_container_1605969923">
            <div class="gr_custom_book_container_1605969923">
                <a
                    title="The Power of Vulnerability: Teachings of Authenticity, Connections and Courage"
                    rel="nofollow"
                    href="https://www.goodreads.com/review/show/2755703762?utm_medium=api&amp;utm_source=custom_widget"
                    ><img
                        alt="The Power of Vulnerability: Teachings of Authenticity, Connections and Courage"
                        border="0"
                        src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1417188663l/23500254._SX98_.jpg"
                /></a>
            </div>
            <div class="gr_custom_rating_1605969923">
                <span class="staticStars notranslate" title="it was amazing"
                    ><img
                        alt="it was amazing"
                        src="https://www.goodreads.com/images/layout/gr_red_star_active.png" /><img
                        alt=""
                        src="https://www.goodreads.com/images/layout/gr_red_star_active.png" /><img
                        alt=""
                        src="https://www.goodreads.com/images/layout/gr_red_star_active.png" /><img
                        alt=""
                        src="https://www.goodreads.com/images/layout/gr_red_star_active.png" /><img
                        alt=""
                        src="https://www.goodreads.com/images/layout/gr_red_star_active.png"
                /></span>
            </div>
            <div class="gr_custom_title_1605969923">
                <a
                    rel="nofollow"
                    href="https://www.goodreads.com/review/show/2755703762?utm_medium=api&amp;utm_source=custom_widget"
                    >The Power of Vulnerability: Teachings of Authenticity, Connections and Courage</a
                >
            </div>
            <div class="gr_custom_author_1605969923">
                by <a rel="nofollow" href="https://www.goodreads.com/author/show/162578.Bren_Brown">Brené Brown</a>
            </div>
            <div class="gr_custom_review_1605969923">
                I can't put into words how Brené exposed the deepest recesses of my heart, called out all of my
                emotionally unhealthy behaviors by name, and laid out a solid plan for living wholeheartedly. Highly
                recommend.
            </div>
            <div class="gr_custom_tags_1605969923">tagged: favorites</div>
        </div>
        <div class="gr_custom_each_container_1605969923">
            <div class="gr_custom_book_container_1605969923">
                <a
                    title="Play: How It Shapes the Brain, Opens the Imagination, and Invigorates the Soul"
                    rel="nofollow"
                    href="https://www.goodreads.com/review/show/3332851170?utm_medium=api&amp;utm_source=custom_widget"
                    ><img
                        alt="Play: How It Shapes the Brain, Opens the Imagination, and Invigorates the Soul"
                        border="0"
                        src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1442820815l/4997659._SX98_.jpg"
                /></a>
            </div>
            <div class="gr_custom_rating_1605969923">
                <span class="staticStars notranslate" title="it was amazing"
                    ><img
                        alt="it was amazing"
                        src="https://www.goodreads.com/images/layout/gr_red_star_active.png" /><img
                        alt=""
                        src="https://www.goodreads.com/images/layout/gr_red_star_active.png" /><img
                        alt=""
                        src="https://www.goodreads.com/images/layout/gr_red_star_active.png" /><img
                        alt=""
                        src="https://www.goodreads.com/images/layout/gr_red_star_active.png" /><img
                        alt=""
                        src="https://www.goodreads.com/images/layout/gr_red_star_active.png"
                /></span>
            </div>
            <div class="gr_custom_title_1605969923">
                <a
                    rel="nofollow"
                    href="https://www.goodreads.com/review/show/3332851170?utm_medium=api&amp;utm_source=custom_widget"
                    >Play: How It Shapes the Brain, Opens the Imagination, and Invigorates the Soul</a
                >
            </div>
            <div class="gr_custom_author_1605969923">
                by
                <a rel="nofollow" href="https://www.goodreads.com/author/show/5647781.Stuart_M_Brown_Jr_"
                    >Stuart M. Brown Jr.</a
                >
            </div>
            <div class="gr_custom_review_1605969923">
                I read this book as part of research into the application of play therapy in treatment of depression in
                adults. I discovered that creative play is my play personality, so I'm reinvesting in coloring as play.
                Great book. It has applicatio...
            </div>
            <div class="gr_custom_tags_1605969923">tagged: favorites</div>
        </div>
        <div class="gr_custom_each_container_1605969923">
            <div class="gr_custom_book_container_1605969923">
                <a
                    title="JavaScript: The Good Parts"
                    rel="nofollow"
                    href="https://www.goodreads.com/review/show/3656017596?utm_medium=api&amp;utm_source=custom_widget"
                    ><img
                        alt="JavaScript: The Good Parts"
                        border="0"
                        src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1328834793l/2998152._SX98_.jpg"
                /></a>
            </div>
            <div class="gr_custom_rating_1605969923">
                <span class="staticStars notranslate" title="it was amazing"
                    ><img
                        alt="it was amazing"
                        src="https://www.goodreads.com/images/layout/gr_red_star_active.png" /><img
                        alt=""
                        src="https://www.goodreads.com/images/layout/gr_red_star_active.png" /><img
                        alt=""
                        src="https://www.goodreads.com/images/layout/gr_red_star_active.png" /><img
                        alt=""
                        src="https://www.goodreads.com/images/layout/gr_red_star_active.png" /><img
                        alt=""
                        src="https://www.goodreads.com/images/layout/gr_red_star_active.png"
                /></span>
            </div>
            <div class="gr_custom_title_1605969923">
                <a
                    rel="nofollow"
                    href="https://www.goodreads.com/review/show/3656017596?utm_medium=api&amp;utm_source=custom_widget"
                    >JavaScript: The Good Parts</a
                >
            </div>
            <div class="gr_custom_author_1605969923">
                by
                <a rel="nofollow" href="https://www.goodreads.com/author/show/1290380.Douglas_Crockford"
                    >Douglas Crockford</a
                >
            </div>
            <div class="gr_custom_review_1605969923">The gold standard for learning JavaScript</div>
            <div class="gr_custom_tags_1605969923">tagged: favorites</div>
        </div>
        <br style="clear: both" />
        <center>
            <a rel="nofollow" href="https://www.goodreads.com/"
                ><img
                    alt="goodreads.com"
                    style="border: 0"
                    src="https://www.goodreads.com/images/widget/widget_logo.gif"
            /></a>
        </center>
        <noscript>
            Share <a rel="nofollow" href="https://www.goodreads.com/">book reviews</a> and ratings with Mark, and even
            join a <a rel="nofollow" href="https://www.goodreads.com/group">book club</a> on Goodreads.
        </noscript>
    </div>
</div>
<script
    src="https://www.goodreads.com/review/custom_widget/76759314.Recommended%20Reading?cover_position=left&cover_size=medium&num_books=20&order=a&shelf=favorites&show_author=1&show_cover=1&show_rating=1&show_review=1&show_tags=1&show_title=1&sort=date_added&widget_bg_color=FFFFFF&widget_bg_transparent=&widget_border_width=none&widget_id=1605969923&widget_text_color=000000&widget_title_size=medium&widget_width=full"
    type="text/javascript"
    charset="utf-8"
></script>
