<div id="gr_grid_widget_1605795590">
    <!-- Show static html as a placeholder in case js is not enabled - javascript include will override this if things work -->
    <h2>
        <a
            style="text-decoration: none"
            rel="nofollow"
            href="https://www.goodreads.com/review/list/76759314-mark?shelf=read&utm_medium=api&utm_source=grid_widget"
            >Books I've Read</a
        >
    </h2>
    <div class="gr_grid_container">
        <div class="gr_grid_book_container">
            <a title="1984" rel="nofollow" href="https://www.goodreads.com/book/show/5470.1984"
                ><img
                    alt="1984"
                    border="0"
                    src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1348990566l/5470._SX98_.jpg"
            /></a>
        </div>
        <div class="gr_grid_book_container">
            <a title="Brave New World" rel="nofollow" href="https://www.goodreads.com/book/show/5129.Brave_New_World"
                ><img
                    alt="Brave New World"
                    border="0"
                    src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1575509280l/5129._SX98_.jpg"
            /></a>
        </div>
        <div class="gr_grid_book_container">
            <a title="Fahrenheit 451" rel="nofollow" href="https://www.goodreads.com/book/show/4381.Fahrenheit_451"
                ><img
                    alt="Fahrenheit 451"
                    border="0"
                    src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1351643740l/4381._SX98_.jpg"
            /></a>
        </div>
        <div class="gr_grid_book_container">
            <a
                title="Do Androids Dream of Electric Sheep? (Blade Runner, #1)"
                rel="nofollow"
                href="https://www.goodreads.com/book/show/7082.Do_Androids_Dream_of_Electric_Sheep_"
                ><img
                    alt="Do Androids Dream of Electric Sheep?"
                    border="0"
                    src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1519481930l/7082._SX98_.jpg"
            /></a>
        </div>
        <div class="gr_grid_book_container">
            <a
                title="Ender's Game (Ender's Saga, #1)"
                rel="nofollow"
                href="https://www.goodreads.com/book/show/375802.Ender_s_Game"
                ><img
                    alt="Ender's Game"
                    border="0"
                    src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1408303130l/375802._SY160_.jpg"
            /></a>
        </div>
        <div class="gr_grid_book_container">
            <a
                title="Ready Player One (Ready Player One, #1)"
                rel="nofollow"
                href="https://www.goodreads.com/book/show/9969571-ready-player-one"
                ><img
                    alt="Ready Player One"
                    border="0"
                    src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1500930947l/9969571._SX98_.jpg"
            /></a>
        </div>
        <div class="gr_grid_book_container">
            <a title="Armada" rel="nofollow" href="https://www.goodreads.com/book/show/16278318-armada"
                ><img
                    alt="Armada"
                    border="0"
                    src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1377284428l/16278318._SX98_.jpg"
            /></a>
        </div>
        <div class="gr_grid_book_container">
            <a
                title="Neuromancer (Sprawl, #1)"
                rel="nofollow"
                href="https://www.goodreads.com/book/show/888628.Neuromancer"
                ><img
                    alt="Neuromancer"
                    border="0"
                    src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1281419771l/888628._SY160_.jpg"
            /></a>
        </div>
        <div class="gr_grid_book_container">
            <a
                title="2001: A Space Odyssey (Space Odyssey, #1)"
                rel="nofollow"
                href="https://www.goodreads.com/book/show/70535.2001"
                ><img
                    alt="2001: A Space Odyssey"
                    border="0"
                    src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1432468943l/70535._SX98_.jpg"
            /></a>
        </div>
        <div class="gr_grid_book_container">
            <a
                title="The Hitchhiker's Guide to the Galaxy (Hitchhiker's Guide to the Galaxy, #1)"
                rel="nofollow"
                href="https://www.goodreads.com/book/show/386162.The_Hitchhiker_s_Guide_to_the_Galaxy"
                ><img
                    alt="The Hitchhiker's Guide to the Galaxy"
                    border="0"
                    src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1559986152l/386162._SX98_.jpg"
            /></a>
        </div>
        <div class="gr_grid_book_container">
            <a title="I, Robot (Robot, #0.1)" rel="nofollow" href="https://www.goodreads.com/book/show/41804.I_Robot"
                ><img
                    alt="I, Robot"
                    border="0"
                    src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1298423276l/41804._SX98_.jpg"
            /></a>
        </div>
        <div class="gr_grid_book_container">
            <a
                title="Foundation (Foundation, #1)"
                rel="nofollow"
                href="https://www.goodreads.com/book/show/29579.Foundation"
                ><img
                    alt="Foundation"
                    border="0"
                    src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1417900846l/29579._SX98_.jpg"
            /></a>
        </div>
        <div class="gr_grid_book_container">
            <a
                title="The Martian Chronicles"
                rel="nofollow"
                href="https://www.goodreads.com/book/show/76778.The_Martian_Chronicles"
                ><img
                    alt="The Martian Chronicles"
                    border="0"
                    src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1374049948l/76778._SY160_.jpg"
            /></a>
        </div>
        <div class="gr_grid_book_container">
            <a
                title="Altered Carbon (Takeshi Kovacs, #1)"
                rel="nofollow"
                href="https://www.goodreads.com/book/show/40445.Altered_Carbon"
                ><img
                    alt="Altered Carbon"
                    border="0"
                    src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1387128955l/40445._SX98_.jpg"
            /></a>
        </div>
        <div class="gr_grid_book_container">
            <a
                title="The Case for Christ"
                rel="nofollow"
                href="https://www.goodreads.com/book/show/73186.The_Case_for_Christ"
                ><img
                    alt="The Case for Christ"
                    border="0"
                    src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1448776489l/73186._SX98_.jpg"
            /></a>
        </div>
        <div class="gr_grid_book_container">
            <a title="The Time Machine" rel="nofollow" href="https://www.goodreads.com/book/show/2493.The_Time_Machine"
                ><img
                    alt="The Time Machine"
                    border="0"
                    src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1327942880l/2493._SX98_.jpg"
            /></a>
        </div>
        <div class="gr_grid_book_container">
            <a
                title="The Moon Is a Harsh Mistress"
                rel="nofollow"
                href="https://www.goodreads.com/book/show/16690.The_Moon_Is_a_Harsh_Mistress"
                ><img
                    alt="The Moon Is a Harsh Mistress"
                    border="0"
                    src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1348768309l/16690._SX98_.jpg"
            /></a>
        </div>
        <div class="gr_grid_book_container">
            <a
                title="Stranger in a Strange Land"
                rel="nofollow"
                href="https://www.goodreads.com/book/show/350.Stranger_in_a_Strange_Land"
                ><img
                    alt="Stranger in a Strange Land"
                    border="0"
                    src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1156897088l/350._SX98_.jpg"
            /></a>
        </div>
        <div class="gr_grid_book_container">
            <a
                title="The Player of Games (Culture, #2)"
                rel="nofollow"
                href="https://www.goodreads.com/book/show/18630.The_Player_of_Games"
                ><img
                    alt="The Player of Games"
                    border="0"
                    src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1386922873l/18630._SX98_.jpg"
            /></a>
        </div>
        <div class="gr_grid_book_container">
            <a
                title="From Embers to a Flame: How God Can Revitalize Your Church"
                rel="nofollow"
                href="https://www.goodreads.com/book/show/2365445.From_Embers_to_a_Flame"
                ><img
                    alt="From Embers to a Flame: How God Can Revitalize Your Church"
                    border="0"
                    src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1347397244l/2365445._SX98_.jpg"
            /></a>
        </div>
        <br style="clear: both" /><br /><a
            class="gr_grid_branding"
            style="font-size: 0.9em; color: #382110; text-decoration: none; float: right; clear: both"
            rel="nofollow"
            href="https://www.goodreads.com/user/show/76759314-mark"
            >Mark's favorite books »</a
        >
        <noscript
            ><br />Share <a rel="nofollow" href="/">book reviews</a> and ratings with Mark, and even join a
            <a rel="nofollow" href="/group">book club</a> on Goodreads.</noscript
        >
    </div>
</div>
<script
    src="https://www.goodreads.com/review/grid_widget/76759314.Books%20I've%20Read?cover_size=medium&hide_link=&hide_title=&num_books=20&order=a&shelf=read&sort=date_read&widget_id=1605795590"
    type="text/javascript"
    charset="utf-8"
></script>
