<!doctype html>

<!--[if lt IE 7 ]><html lang="en" class="no-js ie6"><![endif]-->
<!--[if (gt IE 6)|!(IE)]><!--><html lang="en" class="no-js"><!--<![endif]-->

<head>
    <meta charset="utf-8">
    <title>{{ page.title }} | Mark Cahill</title>
    <link href='http://fonts.googleapis.com/css?family=Abel' rel='stylesheet' type='text/css'>
    <link href='/css/styles.css?{{ site.time | date: "%Y%m%d%H%M%S" }}' rel='stylesheet' type='text/css' /> 
    <link rel="alternate" type="application/rss+xml" title="RSS" href="http://www.thinkjson.com/feed.rss" /> 
</head> 
 
<body> 

<div id="logo">
    <h1><a href="/">Mark Cahill on <span class="stuff">web engineering</span></a></h1>
</div>
 
<div id="container">

    <div id="nav">
        <a href="/open-source/">Open Source</a>
        <a href="/talks/">Talks</a>
        <a href="/downloads/Mark%20Cahill%20-%20resume.pdf">Résumé</a>
    </div>
    
    <div id="content">
    {{ content }}
    </div>
    
    <div id="sidebar"> 
        <img src="/images/portrait.jpg" alt="Me" class="portrait" />
        <div>
            <h3>About Mark Cahill</h3>
            
            <p>
                I have been programming since age eight, and have always enjoyed seeing ideas come to life in my programs. I've been involved in business intelligence and data analysis since 2008, and have learned to analyze data sets from MB to TB in size. I am passionate about developing software that improves people's lives, and which supports our abilities and enriches our relationships outside of the virtual world.</p>
            
            <p>
                Want to talk with me about how we can change the world together? Please send me a message at 
                <a href="mailto:hello@thinkjson.com">hello@thinkjson.com</a>, and we can set up a time to talk.</p> 
        </div>
            
    </div>  
      
</div>

<!-- Remote jQuery with local fallback; taken from HTML5 Boilerplate http://html5boilerplate.com -->
<!-- jQuery version might not be the latest; check jquery.com -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script>
<script>!window.jQuery && document.write(unescape('%3Cscript src="/js/jquery-1.4.4.min.js"%3E%3C/script%3E'))</script>

<!-- Below is your script file, which has a basic JavaScript design pattern that you can optionally use -->
<!-- Keep this and plugin scripts at the bottom for faster page load; combining and minifying scripts is recommended -->
<script src="/js/general.js?{{ site.time | date: "%Y%m%d%H%M%S" }}"></script>

<!-- asynchronous analytics code by Mathias Bynens; change UA-XXXXX-X to your own code; http://mathiasbynens.be/notes/async-analytics-snippet -->
<!-- this can also be placed in the <head> if you want page views to be tracked quicker -->
<script>
if (location.hostname.indexOf("thinkjson") !== -1) {
    var _gaq = [['_setAccount', 'UA-17520717-1'], ['_trackPageview']];
    (function(d, t) {
        var g = d.createElement(t),
            s = d.getElementsByTagName(t)[0];
        g.async = true;
        g.src = ('https:' == location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        s.parentNode.insertBefore(g, s);
    })(document, 'script');
}
</script>
</body> 
</html> 
