<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <!-- Standard meta -->
        <title>{% if page.title %}{{ page.title }} | {% endif %}Mark Cahill</title>
        <meta name="title" content="Mark Cahill" />
        <meta
            name="description"
            content="I love APIs, coffee, and the Oxford comma. I am a full stack engineer working in Go, TypeScript, and Python. I have exceled in a number of roles in the Software Development Lifecycle, but my passion for making things makes me thrive in the role of individual contributer. I have been programming since age eight, and have always enjoyed seeing ideas come to life in my programs. I love to ship elegant code that solves real problems, and iterate based on real feedback from customers. I want to write software that improves people's lives, and which supports our abilities and enriches our relationships outside of the virtual world."
        />
        <meta name="author" content="Mark Cahill" />

        <!-- Open Graph / Facebook -->
        <meta property="og:type" content="website" />
        <meta property="og:url" content="https://www.thinkjson.com/" />
        <meta property="og:title" content="Mark Cahill" />
        <meta
            property="og:description"
            content="I love APIs, coffee, and the Oxford comma. I am a full stack engineer working in Go, TypeScript, and Python. I have exceled in a number of roles in the Software Development Lifecycle, but my passion for making things makes me thrive in the role of individual contributer. I have been programming since age eight, and have always enjoyed seeing ideas come to life in my programs. I love to ship elegant code that solves real problems, and iterate based on real feedback from customers. I want to write software that improves people's lives, and which supports our abilities and enriches our relationships outside of the virtual world."
        />
        <meta property="og:image" content="https://www.thinkjson.com/preview.png" />

        <!-- Twitter -->
        <meta property="twitter:card" content="summary_large_image" />
        <meta property="twitter:url" content="https://www.thinkjson.com/" />
        <meta property="twitter:title" content="Mark Cahill" />
        <meta
            property="twitter:description"
            content="I love APIs, coffee, and the Oxford comma. I am a full stack engineer working in Go, TypeScript, and Python. I have exceled in a number of roles in the Software Development Lifecycle, but my passion for making things makes me thrive in the role of individual contributer. I have been programming since age eight, and have always enjoyed seeing ideas come to life in my programs. I love to ship elegant code that solves real problems, and iterate based on real feedback from customers. I want to write software that improves people's lives, and which supports our abilities and enriches our relationships outside of the virtual world."
        />
        <meta property="twitter:image" content="https://www.thinkjson.com/preview.png" />

        <!-- Flexbox CSS -->
        <link href="/css/flexboxgrid.min.css" rel="stylesheet" />

        <!-- Theme CSS -->
        <link href="/css/theme.css" rel="stylesheet" />
        <link href="/css/goodreads.css" rel="stylesheet" />

        <!-- Custom Fonts -->
        <link href="/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
        <link rel="preconnect" href="https://fonts.gstatic.com" />
        <link
            href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400&display=swap"
            rel="stylesheet"
        />
    </head>

    <body id="page-top" class="index">
        <!-- Navigation -->
        <nav>
            <div class="container">
                <div class="row">
                    <div class="col-md-5 col-sm-12">
                        <div class="box">
                            <h1 class="name">
                                <a href="/">
                                    <span class="blue">{</span>Mark<span class="blue">:</span> Cahill<span class="blue"
                                        >}</span
                                    >
                                </a>
                            </h1>
                            <h2>Staff Software Engineer and API Aficionado</h2>
                        </div>
                    </div>
                    <div class="col-md-7 col-sm-12 links">
                        <ul>
                            <li>
                                <a href="https://github.com/thinkjson">
                                    <i class="fa fa-fw fa-github-alt"></i>
                                    <span class="text">Github</span>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.linkedin.com/in/thinkjson/">
                                    <i class="fa fa-fw fa-linkedin"></i>
                                    <span class="text">LinkedIn</span>
                                </a>
                            </li>
                            <li>
                                <a href="/downloads/Mark%20Cahill%20-%20resume.pdf">
                                    <i class="fa fa-fw fa-id-card-o"></i>
                                    <span class="text">Resume</span>
                                </a>
                            </li>
                            <li>
                                <a href="mailto:hello@thinkjson.com">
                                    <i class="fa fa-fw fa-envelope"></i>
                                    <span class="text">Contact</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>

        {{ content }}

        <!-- Footer -->
        <footer class="text-center">
            <div class="footer-below">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">Copyright &copy; <span class="year">2020</span> Mark Cahill</div>
                    </div>
                </div>
            </div>
        </footer>

        <!-- Google Analytics -->
        <script>
            (function (i, s, o, g, r, a, m) {
                i["GoogleAnalyticsObject"] = r;
                (i[r] =
                    i[r] ||
                    function () {
                        (i[r].q = i[r].q || []).push(arguments);
                    }),
                    (i[r].l = 1 * new Date());
                (a = s.createElement(o)), (m = s.getElementsByTagName(o)[0]);
                a.async = 1;
                a.src = g;
                m.parentNode.insertBefore(a, m);
            })(window, document, "script", "https://www.google-analytics.com/analytics.js", "ga");

            ga("create", "UA-101172189-1", "auto");
            ga("send", "pageview");
            document.querySelector(".year").innerHTML = new Date().getFullYear();
        </script>
    </body>
</html>
