---
layout: default
---

        <h2>{{ page.title }}</h2>
        <div class="description">Posted {{ page.date | date:"%A, %B %d, %Y" }}</div>
        {{ content }}
        
        <!-- Start pasted Discus code --> 
		<div id="disqus_thread"></div> 
		<script type="text/javascript"> 
		    /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
		    var disqus_shortname = 'tiemonster'; // required: replace example with your forum shortname
		
		    // The following are highly recommended additional parameters. Remove the slashes in front to use.
		    var disqus_identifier = 'tiemonster_' + location.pathname.replace(/\//g, '');
		    var disqus_url = location.protocol + '//' + location.host + '/<%- uri %>';
		
		    /* * * DON'T EDIT BELOW THIS LINE * * */
		    (function() {
		        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
		        dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
		        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
		    })();
		</script>
		<!-- End pasted Discus code --> 